Itility Assignment Yiannis Makantasis

Questions:

• Can you analyze the measurement data and give advice on which IPC’s could be downsized?

• Describe the steps that you have taken to get to the advice (please mention which data you have included and why).

• Do a general check on the data and outline where you see strange activity (and why).

• What else would be needed to run such an analysis continuously across all IPCs?

In [1]:
# Import all the packages needed

import csv
import pandas as pd
import numpy as np

In [2]:
# Specify the path to the CSV file
csv_path_file = "C:/Users/User/Desktop/Itility Test Case/dataset_new.csv"

# Read the CSV file uing a pandas DataFrame
df = pd.read_csv(csv_path_file)

# print the DataFrame for information
# print(df)

C:\Users\User\AppData\Local\Temp\ipykernel_11020\2280448697.py:5: DtypeWarning: Columns (7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(csv_path_file)

In [ ]:
# Count the number of distinct values in the specified column
distinct_ipc_values = df['IPC'].nunique()

# Print the number of distinct values in the column
print("Number of distinct IPC values:", distinct_ipc_values)

In [ ]:
# Print general information regarding the DataFrame
df.info()

In [ ]:
# Print the first 5 rows of the DataFrame to get an idea of what the dataset looks like
df.head()

In [ ]:
# Check if there are any duplicate entries
dup_rows = df[df.duplicated()]
print("The number of duplicated rows is", dup_rows)

In [ ]:
# This cell willl first find the cells in CpuMHz that have numbers inside the cell instead of one, and will remove them.
# The second step will be to turn the Dtype of this column from object to int-64 to be used for the later calculations

# Define a custom function to check for two values separated by a space
def has_two_values(cell):
    if isinstance(cell, str) and ' ' in cell:
        values = cell.split()
        if len(values) == 2 and all(value.isdigit() for value in values):
            return True
    return False

# Apply the custom function to the 'CPU' column
cpu_contains_two_values = df[df['CpuMHz'].apply(has_two_values)]

# Print the rows where 'CPU' contains two objects
print(cpu_contains_two_values)

df.drop(df.loc[df['CpuMHz'].str.contains(' ') == True].index, inplace=True)
df['CpuMHz'] = df['CpuMHz'].astype(np.int64)

In [ ]:
# Print the new general information to also check the changed Dtype of CpuMHz from onject to int-64
df.info()

In [ ]:
# Similarly to CpuMHz, two numbers inside cells were found in the column MemoryMB. The 70 rows containing these cells are then removed
# The types of both MemoryMB and NumCpu are then alsso changed to int-64

# Define a custom function to check for two values separated by a space
def has_two_values(cell):
    if isinstance(cell, str) and ' ' in cell:
        values = cell.split()
        if len(values) == 2 and all(value.isdigit() for value in values):
            return True
    return False

# Apply the custom function to the 'CPU' column
memorymb_contains_two_values = df[df['MemoryMB'].apply(has_two_values)]

# Print the rows where 'CPU' contains two objects
print(memorymb_contains_two_values)

df.drop(df.loc[df['MemoryMB'].str.contains(' ') == True].index, inplace=True)
df['MemoryMB'] = df['MemoryMB'].astype(np.int64)
df['NumCpu'] = df['NumCpu'].astype(np.int64)

In [6]:
# Print the new general information to also check the changed Dtype of MemoryMB and NumCpu from onject to int-64
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 440257 entries, 0 to 440587
Data columns (total 10 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   IPC           440257 non-null  object
 1   Data Factory  440257 non-null  int64
 2   time          440257 non-null  object
 3   AvgValue      440257 non-null  int64
 4   MinValue      440257 non-null  int64
 5   MaxValue      440257 non-null  int64
 6   MetricId      440257 non-null  object
 7   MemoryMB      440257 non-null  int64
 8   CpuMHz        440257 non-null  int64
 9   NumCpu        440257 non-null  int64
dtypes: int64(7), object(3)
memory usage: 36.9+ MB

In [7]:
df.loc[(df['MetricId'] == 'MemActive')].describe()

,Data Factory,AvgValue,MinValue,MaxValue,MemoryMB,CpuMHz,NumCpu
count,220224.000000,2.202240e+05,2.202240e+05,2.202240e+05,2.202240e+05,220224.0,220224.0
mean,2.676879,3.803013e+09,3.641240e+09,3.387660e+09,2.860747e+04,0.0,0.0
std,1.302288,2.934412e+09,2.518522e+09,2.438382e+09,3.389848e+04,0.0,0.0
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,1.024000e+03,0.0,0.0
25%,2.000000,1.353051e+09,1.524098e+09,1.551737e+09,8.192000e+03,0.0,0.0
50%,3.000000,2.801857e+09,3.289647e+09,2.676155e+09,1.638400e+04,0.0,0.0
75%,4.000000,6.312988e+09,5.640266e+09,4.830890e+09,3.276800e+04,0.0,0.0
max,5.000000,9.999968e+09,9.999879e+09,9.999879e+09,1.035264e+06,0.0,0.0

In [9]:
df.loc[(df['MetricId'] == 'CpuUsageMHz')].describe()

,Data Factory,AvgValue,MinValue,MaxValue,MemoryMB,CpuMHz,NumCpu
count,220033.000000,2.200330e+05,2.200330e+05,2.200330e+05,220033.0,220033.000000,220033.000000
mean,2.676062,3.639165e+09,3.417353e+09,3.586655e+09,0.0,10145.052374,4.047157
std,1.302294,2.485315e+09,2.385833e+09,2.844133e+09,0.0,7181.357432,2.958206
min,1.000000,4.607500e+04,0.000000e+00,1.181000e+03,0.0,2095.000000,1.000000
25%,2.000000,1.678507e+09,1.672046e+09,1.308646e+09,0.0,5600.000000,2.000000
50%,3.000000,3.111446e+09,2.769064e+09,2.507932e+09,0.0,9600.000000,4.000000
75%,4.000000,5.223033e+09,4.787785e+09,5.522098e+09,0.0,11200.000000,4.000000
max,5.000000,9.999976e+09,9.999294e+09,9.999980e+09,0.0,76800.000000,32.000000